.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.board {
  margin-top: 20px;
  border: 2px solid green;
  border-radius: 20px;
  padding: 10px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.board__title {
  text-align: center;
  padding: 0px;
  margin: 10px auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.board__item {
  border: 2px solid rgb(63, 63, 109);
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.board__item:hover {
  cursor: pointer;
}
